@import "/bulma/css/bulma.css"; 

body {
    padding: 15px;

    height: 100vh;
    display: grid;
    place-items: center;
}

.fileName {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 2px;
    font-size: 1.3rem;
    margin: 0;
    background: white;
    resize: horizontal;
}
img{
    height: 240px;
    width: 150px;
}